:root {
  --dark-color: #24022F;
  --font-family: 'Lobster', cursive;
  --header-dark: #503559;
  --light-color: #E5B8F4;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  transition: all 300ms linear;
}

.App>h1 {
  background: var(--header-dark);
  color: var(--light-color);
  font-family: var(--font-family), sans-serif;
  font-size: 42px;
  letter-spacing: 10px;
  margin: 0;
  padding: 1em;
  text-align: center;
}

section {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-around;
}

button {
  background: white;
  font-family: var(--font-family), sans-serif;
  font-size: 2em;
  letter-spacing: 3px;
  min-height: 4em;
  min-width: 300px;
  padding: 1em;
  width: 40%;
}

.off i {
  filter: grayscale(100%);
}

i {
  font-style: normal;
}

/* Dark Mode */
.App.dark,
.App.dark button {
  background: var(--dark-color);
  border-color: var(--light-color);
  color: var(--light-color);
}